<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;'"/>
  </connectionStrings>
  <appSettings>
    <add key ="FolderPath" value ="Uploads/Exportedfiles/"/>
	<add key="dbconnection" value="Data Source=DESKTOP-OMKP2RL;Initial Catalog=key_FabyMart;Persist Security Info=True;User ID=sa;Password=Health@25"></add>
    <add key="IsOnServer" value="false"/>
    <add key="IsPayOnline" value="false"/>
    <add key="IsCCAvenue" value="true"/>
    <add key="InputDateFormat" value="dd/MM/yyyy"/>
    <add key="OutputDateFormat" value="dd/MM/yyyy"/>
  </appSettings>
  <system.web>
    
    <pages enableEventValidation="false"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <trust level="Full" originUrl=""/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="90000000"/>
    <globalization culture="en-IN" uiCulture="en-IN"/>
    <!--<globalization uiCulture="en-IN" culture="en-IN" enableClientBasedCulture="false" />-->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="5000"/>-->
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Service_1_0" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.dev.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Service_1_0"
          contract="ShippingReference.Service_1_0" name="BasicHttpBinding_Service_1_0" />
    </client>
  </system.serviceModel>
</configuration>